@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-chaos-black text-chaos-green font-mono cursor-crosshair overflow-x-hidden;
  }
}

@layer utilities {
  .glitch-text:hover {
    @apply animate-glitch;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .cursor-none {
    cursor: none;
  }
}
